article p {

  color:#0094ff;
  font-family:Consolas;
}

article p:first-line{
   
   font-weight:bold;
   
}

article p:first-letter {
   
   font-family:script;
   font-size:42px;

}

@font-face {

    font-family:script;
	src:url('script.ttf');

}
